<div class="container">
  <div class="columns mt-5 is-centered">
    <div class="box column is-one-third">
      <header>
        <h2 class="title has-text-centered">Typing Challenge</h2>
      </header>

      <h2 class="mt-2 mb-2 has-text-centered">
        <span [class]="compare(letter, enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index;">
          {{letter}}
        </span>
      </h2>
      <div class="field">
        <input type="text" name="" class="input" (input)="userInput($any($event.target).value)">
      </div>
      <div class="box has-text-centered">
        <h2 *ngIf="enteredText === randomText" class="title">Success !!!</h2>
      </div>

    </div>
  </div>
</div>